/* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
#map {
    height: 600px;
}
  /* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 0px;
    padding: 0px 11px 0 40px;
    text-overflow: ellipsis;
    /*display:block;*/
    width: 400px;
}



#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

div#suggestion-wrapper {
    position: fixed;
    top: 140px;
    width: calc(100%);
    border: 1px solid #eee;
    padding-right: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 140px);
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
}
.uk-padding-remove.suggestion-customer {
    border-bottom: 1px dashed;
    padding-bottom: 5px!important;
}
.uk-width-1-1.uk-animation-slide-bottom-small.uk-first-column.ng-scope.uk-grid-margin {
    margin-top: 10px;
}
span.customername {
    width: 50%;
    display: block;
    text-align: left;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
span.customer-phone {
    width: 50%;
    text-align: right;
    display: block;
    float: right;
}
span.customer-address {
    font-size: 12px;
    width: 90%;
    overflow: hidden;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    margin-left: -3px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
span.select-customer {
    width: 10%;
    float: right;
    font-size: 13px;
    height: 25px;
    line-height: 25px;
    font-weight: 500;
    color: #f0506e;
}

@media only screen and (max-width: 500px){
    .active-address-input-on-mobile{
        /*border-color: #4d90fe;*/
        position: fixed;
        top: 0;
        left: 0;
        z-index: +1000000;
    }
    .active-address-input-on-mobile input,
    .active-address-input-on-mobile>span.uk-icon{
        position: absolute;
        top: 0;
        left: 0;
        z-index: +1000000;
    }
    .active-address-input-on-mobile>span.uk-form-icon.uk-icon {
        top: 20px;
    }
    .active-address-map-on-mobile{
        position: fixed;
        top: 40px;
        left: 0;
        z-index: +100000;
        display: block;
        width: 100%;
        height: calc(100vh - 40px);
    }
    #map{
        height: calc(100vh - 40px);
    }
    .pac-container{
        z-index: +1000000;
    }
    .active-address-input-on-mobile #check-ok-button{
        display: block;
        opacity: 1;
        position: fixed;
        top: 60px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 1px solid #333;
        background: #fff;
        text-align: center;
        line-height: 30px;
        right: 15px;
        z-index: +100000;
    }
}

#check-ok-button{
    display: none;
    opacity: 0;
}