.keyInChip {
    background: #ccc;
    padding: 5px 10px;
    border-radius: 20px;
    max-width: 100px;
    overflow: hidden;
    min-width: 20px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 5px;
    position: relative;
    cursor: pointer;
}


.input-tag{
    width: 100%;
    margin-bottom: 5px;
}

.keyInChip span.deleteKey {
    position: absolute;
    top: 6px;
    right: 0;
    border: 1px solid;
    border-radius: 50%;
    /* padding: 7px; */
    width: 20px;
    height: 20px;
    background: #ef6c6c;
    text-align: center;
    color: #fff;
    line-height: 16px;
    transition: opacity 0.3s linear;
    display: none;
    opacity: 0;
}

.keyInChip:hover span.deleteKey{
    display: block;
    opacity: 1;
}

.main-field {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    min-width: 100%;
    min-height: 40px;
}

.main-field i.uk-icon {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: all 0.3s;
}

.main-field:hover i.uk-icon {
    opacity: 1;
}

.file {
    display: block;
    list-style: none;
    margin-left: 15px;
    cursor: pointer;
}

.folder {
    list-style: none;
    cursor: pointer;
    margin: 4px 0;
    width: 250px;
    display: inline-block;
    margin-left: 15px;
}
.folder > ul {
    display: none;
}
.folder:before {
    padding: 5px;
    height: 10px;
    width: 10px;
    text-align: center;
    line-height: 10px;
    background: #5f6f72;
    border-radius: 1px;
    display: inline-block;
    color: #fff;
    content: '+';
}
.folder.folder-open > ul {
    display: block;
    padding-left: 15px;
    margin-left: 9px;
    border-left: 2px solid #5f6f72;
}
.folder.folder-open:before {
  content: '-';
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    webkit-box-shadow: inset 0 0 6px #E3EBEF;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #E3EBEF;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #9FB6C3;
    -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #9FB6C3;
}

#order-table tbody tr td .order-image{
    min-width: 250px;
}

.uk-textarea{
    min-width: 300px;
}

.file {
    display: inline-block;
    list-style: none;
    cursor: pointer;
    width: 100%;
}

.folder {
    list-style: none;
    cursor: pointer;
    margin: 4px 0;
    width: 100%;
    display: inline-block;
}
.folder > ul {
    display: none;
}

.folder, .file, ul{
    -webkit-transition: all .25s linear;
       -moz-transition: all .25s linear;
        -ms-transition: all .25s linear;
         -o-transition: all .25s linear;
            transition: all .25s linear;
    padding-left: 0;
}

/* .folder:hover, .file:hover{
    background: #d4f7ef;
} */

.folder > ul > .folder,
.folder > ul > .file {
    width: calc(100% - 30px);
    margin-left: 30px;
}

/* .folder > ul > .folder > ul > .folder,
.folder > ul > .folder > ul > .file {
    width: calc(100% - 60px);
} */
.folder:before {
    padding: 5px;
    height: 10px;
    width: 10px;
    text-align: center;
    line-height: 10px;
    background: #5f6f72;
    border-radius: 1px;
    display: inline-block;
    color: #fff;
    content: '+';
}
.folder.folder-open > ul {
    display: block;
    padding-left: 30px;
    margin-left: 9px;
    border-left: 2px solid #5f6f72;
}
.folder.folder-open:before {
  content: '-';
}
div#main-table {
    overflow: auto;
}
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    webkit-box-shadow: inset 0 0 6px #E3EBEF;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #E3EBEF;
    margin-left: 40px;
    margin-right: 40px;
}

*::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #9FB6C3;
    -webkit-box-shadow: none;
}

*::-webkit-scrollbar-thumb:window-inactive {
    background: #9FB6C3;
}

#order-table tbody tr td .order-image{
    min-width: 250px;
}

.uk-container ul.uk-pagination li.uk-margin-small-top {
    margin-top: 0px !important;
}