#main-content{
    overflow: hidden;
}

.uk-lightbox{
	background-color: rgba(0, 0, 0, 0.4);
}
.input_dual_range {
  	width: 90%;
    margin-left: 10%;
    position: relative;
}
.input_dual_range::before {
	content: "";
	position: absolute;
	height: 3px;
	bottom: 0;
	top: 11px;
	width: 100%;
	background-color: #707D7D;
	z-index: -1;
}

.fill {
	height: 3px;
	width: 100%;
	background-color: #01BAB0;
	position: absolute;
	top: 11px;
	left: 0px;
	z-index: -1;
}

.info {
    box-sizing: border-box;
    padding: 10px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #666;
    position: absolute;
}

/***** Position dual *****/
.range {
  position: absolute;
  left: 0;
  top: 0;
}

/****** Style range ******/
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  margin: 0;
}

input[type=range]:focus {
  outline: none;
}

/******** STYLE THUMB ********/
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  position: relative;
  z-index: 4;
  -webkit-appearance: none;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  background: #01BAB0;
  cursor: pointer;
  margin-top: 0px;
}

/******** STYLE TRACK ********/
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 25px;
  cursor: pointer;
  border-radius: 3px;
  /*
  background-color: rgba(36,180,35,0.2);
  */
}

.iLower{
	margin-top: 20px;
}